<div class="profile-page-layout">
    <div class="app-header">
        <app-header></app-header>
    </div>
    <div class="header-actions">
        <app-midheader></app-midheader>
    </div>
    <div class="container">
        <div>
            <div class="page-heading">
                <img src="photo_portrait.gif" alt="Logo" class="logo" />
                <p class="page-name">Import Volunteers</p>
            </div>
        </div>
        <hr>
        <div class="body-container">
            <span class="mapping-fields-text">
                Map the field names with the appropriate column names of the source file that you are
                importing.
            </span>
            <div class="mapping-fields-table">
                <div class="optionTable">
                    <button class="pull-left" [routerLink]="['/']">
                        <img src="nav_left_green.png" alt="Left Arrow" height="30" class="nav-left" />
                        <span class="buttontext">Build Template</span>
                    </button>
                    <button class="pull-right" (click)="validateFieldMapping();">
                        <img src="nav_right_green.png" alt="Right Arrow" height="30" class="nav-right" />
                        <span class="buttonpreview">Preview Import</span>
                    </button>
                </div>
                <div class="profile-panel">
                    @for (panel of panelNames; track panel._id) {
                    @if (panel.panelName === "Name & Contact Details") {
                    <div class="panel-header">
                        <span class="toggle-icon" (click)="togglePanel(panel._id!)" style="font-size: 2.1rem;">
                            {{ openPanels[panel._id!] ? '▾' : '▸' }}
                        </span>

                        <div class="panel-header-content">
                            <span class="panel-title">{{ panel.panelName }}</span>
                        </div>
                    </div>

                    <!-- <div class="panel-body" (click)="getFieldsForPanel(panel._id!)" -->
                    <div class="panel-body" [@slideToggle]="openPanels[panel._id!] ? 'open' : 'closed'">
                        
                     
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
    </div>
</div>