<div class="profile-page-layout">
    <div class="app-header">
        <app-header></app-header>
    </div>
    <div class="header-actions">
        <app-midheader></app-midheader>
    </div>
    <div class="container">
        <div>
            <div class="page-heading">
                <img src="photo_portrait.gif" alt="Logo" class="logo" />
                <p class="page-name">Import Volunteers</p>
            </div>
        </div>
        <hr>
        <div class="content-section">
            <div class="preview-text-block">
                <p class="section-heading">Preview Import</p>
                <p class="section-subheading">Here's a preview of the first five records of your imported file, along
                    with
                    corresponding values for each field</p>
            </div>
            <div class="table-container">
                @for (panel of groupedPanels; track $index) {
                <p class="panel-head-name" mat-subheader>{{ panel.panelName }}</p>
                <table mat-table [dataSource]="panel.rows" class="mat-elevation-z2 full-width">
                    @for (header of panel.headers; track $index) {
                    <ng-container [matColumnDef]="header">
                        <th mat-header-cell *matHeaderCellDef>{{ header }}</th>
                        <td mat-cell *matCellDef="let row; let i = index">
                            {{ row[panel.headers.indexOf(header)] }}
                        </td>
                    </ng-container>
                    }

                    <tr mat-header-row *matHeaderRowDef="panel.headers"></tr>
                    <tr mat-row *matRowDef="let row; columns: panel.headers;"></tr>
                </table>
                }
            </div>
            <div class="optionTable">
                <button class="pull-left" [routerLink]="['/importFieldMapping']">
                    <img src="nav_left_green.png" alt="Left Arrow" height="30" class="nav-left" />
                    <span class="buttontext">Map Fields</span>
                </button>
                <button class="pull-right" (click)="performImport();">
                    <img src="nav_right_green.png" alt="Right Arrow" height="30" class="nav-right" />
                    <span class="buttonpreview">Perform Import</span>
                </button>
            </div>
        </div>
    </div>
</div>