.panel-grid {
  display: flex;
  gap: 16px;
}

.panel-column {
  flex: 1;
}

.panel-cell {
  // padding: 8px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}

.panel-cell a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.panel-cell:hover,
.full-width-field:hover {
  background: #E3F3FF;
}


.panel-cell a:hover {
  color: darkblue;
  /* Optional hover effect */
}