@if(leftFields && rightFields){
<div class="profile-field-container panel-grid">
  <div class="panel-column" cdkDropList #leftColumn="cdkDropList" [cdkDropListData]="leftFields"
    [cdkDropListConnectedTo]="[rightColumn]" (cdkDropListDropped)="dropField($event)">
    @for (field of leftFields; track $index) {
    <div class="panel-cell" cdkDrag>
      {{ field.fieldName }}
    </div>
    }
  </div>

  <div class="panel-column" cdkDropList #rightColumn="cdkDropList" [cdkDropListData]="rightFields"
    [cdkDropListConnectedTo]="[leftColumn]" (cdkDropListDropped)="dropField($event)">
    @for (field of rightFields; track $index) {
    <div class="panel-cell" cdkDrag>
      {{ field.fieldName }}
    </div>
    }
  </div>
</div>
}
<!-- <div *ngIf="leftFields || rightFields" class="profile-field-container">
  <div class="panel-row" *ngFor="let i of rows">
    <div class="panel-cells">
      <div class="panel-cell left" *ngIf="leftFields[i]" cdkDrag>
        {{ leftFields[i].fieldName }}
      </div>
      <div class="panel-cell right" *ngIf="rightFields[i]" cdkDrag>
        {{ rightFields[i].fieldName }}
      </div>
    </div>
    <div class="horizontal-line"></div>
  </div>
</div> -->

@if(fullWidthField.length > 0){
<div class="profile-field-container panel-grid">
  <div class="panel-column">
    @for (field of fullWidthField; track $index) {
    <div class="panel-cell">
      {{ field.fieldName }}
    </div>
    }
  </div>
</div>
}

<!-- <div *ngIf="fullWidthField?.length" class="profile-field-container panel-grid">
  <div class="panel-row" *ngFor="let field of fullWidthField">
    <div class="panel-cell full">
      {{ field.fieldName }}
    </div>
    <div class="horizontal-line"></div>
  </div>
</div> -->

@if(fullWidthSubPanelField.length > 0){
<div class="profile-field-container panel-grid">
  <div class="panel-column">
    @for (field of fullWidthSubPanelField; track field.panelId) {
    <div class="panel-cell subpanel-field">
      {{ field.fieldName }}
    </div>
    }
  </div>
</div>
}