<div class="profile-field-container panel-grid">
  <!-- Left Column -->
  <div class="panel-column" cdkDropList #leftColumn="cdkDropList" [cdkDropListData]="leftFields"
    [cdkDropListConnectedTo]="[rightColumn]" (cdkDropListDropped)="dropField($event)">
    <div class="panel-cell" *ngFor="let field of leftFields" cdkDrag>
      {{ field.fieldName }}
    </div>
  </div>

  <!-- Right Column -->
  <div class="panel-column" cdkDropList #rightColumn="cdkDropList" [cdkDropListData]="rightFields"
    [cdkDropListConnectedTo]="[leftColumn]" (cdkDropListDropped)="dropField($event)">
    <div class="panel-cell" *ngFor="let field of rightFields" cdkDrag>
      {{ field.fieldName }}
    </div>
  </div>
</div>