@if (!mappingMode) {
<div class="fields-to-import">
    <div class="header-link">
        <span class="select-all" (click)="toggleSelection()">{{ linkText }}</span>
    </div>
    @if(fieldIds.length > 0){
    <div class="fields-list">
        @for (field of fieldIds; track $index) {
        <div class="field-item">
            @if(validFieldsForMapping.includes(field.fieldName)){
            <input type="checkbox" [(ngModel)]="isSelected[field._id!]" (ngModelChange)="updateLinkText()" />
            }
            <span>
                {{ field.fieldName }}
            </span>
        </div>
        }
    </div>
    }
    @else {
    <ng-template #noFields>
        <p>No fields available for import.</p>
    </ng-template>
    }
</div>
}@else {
@if(fieldIds.length > 0){
<div class="fields-list-mappingmode">
    @for (field of fieldIds; track $index) {
    <div class="field-item-mappingmode" [ngClass]="hasMatch(field.fieldName) ? 'match' : 'no-match'">
        <span style="width: 105px;">
            @if(hasMatch(field.fieldName)) {
            *{{ field.fieldName }}
            }@else{
            {{ field.fieldName }}
            }
        </span>
        @if (hasMatch(field.fieldName)) {
        <div class="mapping-input">
            <select class="form-control" [(ngModel)]="mappings[field._id!]">
                @for (header of getAvailableHeaders(field._id!); track $index) {
                <option [value]="header.name">{{ header.display }}</option>
                }
            </select>
        </div>
        }
    </div>
    }
</div>
}
}