.fields-to-import {
    .header-link {
        margin-bottom: 10px;

        .select-all {
            font-size: 13px;
            text-decoration: underline;
            color: #3366cc;
            cursor: pointer;
        }
    }

    .fields-list {
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .field-item {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            input[type="checkbox"] {
                margin-right: 10px;
            }

            label {
                font-size: 14px;
                color: #333;
            }
        }
    }
}

.fields-list-mappingmode {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .field-item-mappingmode {
        display: flex;
        margin-bottom: 8px;

        .mapping-input {
            margin-left: 10px;

            select {
                width: 150px;
            }
        }
    }
}

.field-item-mappingmode.no-match span {
    color: grey;
}

.field-item-mappingmode.match span {
    color: red;
}