.profile-options {
  font-family: Arial, sans-serif;
  text-align: end;

  .back-link {
    display: block;
    margin-bottom: 5px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .action-links .option-link {
    display: block;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}