.profile-options {
  padding: 10px;
  float: right;
  width: 200px;
  margin-top: 10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 8px;

      .option-link {
        color: blue;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: darkblue;
        }
      }
    }
  }
}
