<div class="profile-options">
  <ul>
    <li><a routerLink="/profile/back" class="option-link">Back</a></li>
    <li><a routerLink="/profile/create-panel" class="option-link">Create a Panel</a></li>
    <li><a routerLink="/profile/create-sub-panel" class="option-link">Create a Sub-panel</a></li>
    <li><a routerLink="/profile/create-context-block" class="option-link">Create Context Block</a></li>
    <li><a routerLink="/profile/create-field" class="option-link">Create a Field</a></li>
    <li><a routerLink="/profile/manage-custom-fields" class="option-link">Manage Custom Fields</a></li>
  </ul>
</div>
