.context-dialog-wrapper {
    border: 5px solid #1976d2; // Material blue 700
    // padding: 20px;

    .field-title {
        height: 25px;
        align-items: center;
        display: flex;
        padding: 0px 0px 5px 10px;
        background: #1976d2;
        font-size: 15px;
        color: white;
        justify-content: space-between;
        font-family: sans-serif;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0px 26px 0px 40px;

        .dropdown-section {
            .dropdown-label {
                margin-right: 10px;
                padding-bottom: 10px;
            }
        }

        .ckeditor {
            border: 1px solid black;
            // height: 250px;
        }
    }

    .hedder-content {
        display: flex;
        justify-content: space-between;
    }

    .file-attachement-box {
        border: 1px dashed blue;
        margin-left: 40px;
        padding: 10px 30px 20px 30px;

        .inputClass {
            height: 18px;
            padding: 5px;
        }

        .input-form-fileds {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .deleteLink {
                margin-left: 10px;
                cursor: pointer;
            }

            .file-attachment-link {
                padding-left: 45px;
                cursor: pointer;
                text-decoration: underline;
                color: blue;
                font-size: 13px;
            }
        }

    }

    .btn-group {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin: 30px;
    }

    .dropdown-section,
    .checkbox-section {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .required {
        color: red;
    }
}

// ::ng-deep .ck-editor__editable_inline {
//     min-height: 200px !important;
//     max-height: 200px !important;
//     overflow-y: auto !important;
// }

.context-dialog-wrapper .ckeditor {
    width: 100%;
    display: block;
}

::ng-deep .ql-toolbar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8px;
}