.viewpnlCls {
  padding-left: 50px;
  line-height: 1.5;
  width: 460px;
}

.radio-sec {
  display: inline-block;
  vertical-align: top;
}

.text-sec1 {
  display: inline-block;
  margin-left: 8px;
}

.panelTargetTypeOneAssociation {
  margin-top: 10px;
}
