<div class="viewpnlCls width-460 padding-left-50 pull-left line-height-15">
  <b>View Panels</b>

  <table width="100%" class="visiblity-cls">
    <tbody>
      <tr>
        <td>
          <div class="radio-sec">
            <input type="radio" name="viewPanelOption" id="viewAllPanel" [value]="1" [(ngModel)]="selectedOption" />
          </div>
          <div class="text-sec1">
            <label for="viewAllPanel">View All Active Panels</label>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="radio-sec">
            <input type="radio" name="viewPanelOption" id="viewTargetPanel" [value]="2" [(ngModel)]="selectedOption" />
          </div>
          <div class="text-sec1">
            <label for="viewTargetPanel">View Panels Targeted to Type 1 Associations</label>
            <!-- @if(selectedOption == 2){ -->
            <div id="panelTargetTypeOneAssociation" class="panelTargetTypeOneAssociation full-sec dashed-box"
              [@slideToggle]="selectedOption === 2 ? 'open' : 'closed'">
              <p class="alert-text-color">Panels are not being targeted to any Type 1 Associations.</p>
            </div>
            <!-- } -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="viewpnlCls">
  <b>Import Volunteers</b>
  <div class="info-text">
    <span class="text-val">
      Please use two semicolons (;;) to separate multiple entries in a given cell.
      For all date fields, please format your dates as m/d/yyyy (example: 1/1/2022).
    </span>
  </div>
  
  <div class="full-sec-dashed-box">
    <div class="file-input">
      <b style="margin-right: 10px;">Select File:</b>
      <input type="file" (change)="onFileSelected($event)"
        accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />

    </div>
    <div class="margin-top-10">
      <button class="btn btn-primary margin-top-10" (click)="importVolunteers()">Upload Excel File</button>
    </div>
  </div>
</div>