.viewpnlCls {
  padding-left: 10px;
  line-height: 1.5;
  width: 460px;
}

.radio-sec {
  display: inline-block;
  vertical-align: top;
}

.text-sec1 {
  display: inline-block;
  margin-left: 8px;

  .dashed-box {
    .alert-text-color {
      overflow: hidden;
      color: rgb(0, 119, 0);
      width: 100%;
      border: 2px dashed blue;
      overflow-y: auto;
      padding: 5px;
      font-weight: bold;
    }
  }
}

.viewpnlCls {
  .info-text {
    margin-top: 10px;

    .text-val {
      color: rgb(0, 119, 0);
      width: 100%;
      font-weight: bold;
    }
  }

  .full-sec-dashed-box {
    display: flex;
    border: 2px dashed blue;
    padding: 10px;
    margin-top: 10px;
    margin-left: 40px;
    flex-direction: column;
    gap: 15px;
  }
}