<div class="dialog-container">
    <div class="field-title">
        @if(data.content === 'clone'){
        <span>clone "{{originalSubPanelName}}"</span>
        }
        @else if (data.content === 'edit') {
        <span>Edit a Sub-Panel</span>
        }
        @else {
        <span>Create a Sub-Panel</span>
        }
        <button mat-icon-button style="color: white;" (click)="dialogRef.close()" aria-label="Close">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="form-container">
        <div class="hedder-content">
            @if(data.content === 'clone'){
            <p mat-dialog-title style="margin: 0px; font-weight: bold; padding: 0px;">Clone The {{originalSubPanelName}}
                Panel.</p>
            }
            @else if (data.content === 'edit') {
            <p mat-dialog-title style="margin: 0px;font-weight: bold; padding: 0px;">Edit a Sub-Panel</p>
            }
            @else {
            <p mat-dialog-title style="margin: 0px; padding: 0px; font-weight: bold;">Create a Sub-Panel</p>
            }
        </div>
        <p class="required-note">*Required Items</p>
        <form (ngSubmit)="onCreate()" #form="ngForm">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>*Sub-panel Name</mat-label>
                <input matInput [(ngModel)]="subPanelName" name="subPanelName" placeholder="Enter name" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>*Add to Panel</mat-label>
                <mat-select name="selectedPanel" [(ngModel)]="panelId" placeholder="Select Panel" required>
                    <mat-option value="">Select One</mat-option>
                    @for (panel of panels; track panel._id) {
                    <mat-option [value]="panel._id">{{ panel.panelName }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <div mat-dialog-actions align="center">
                <button mat-raised-button color="primary" type="submit">{{btnText}}</button>
                <button mat-button (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>