.profile-panel {
  // margin: 15px 0;

  .panel-header {
    // padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;

    .toggle-icon {
      // margin: 6px 10px 10px 0px;
      color: #7ddc37;
    }

    .panel-actions {
      display: flex;
      gap: 5px;

      .action-btn {
        background: none;
        border: none;
        cursor: pointer;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .panel-body {
    padding: 10px 20px;
  }
}
