.profile-panel {
  margin: 15px 0;

  .panel-header {
    padding-bottom: 10px;
    // cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;

    .panel-header-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .panel-img-icon {
        display: flex;
        align-items: center;
        gap: 10px;

        // img {
        //   width: 23px;
        //   height: 23px;
        //   cursor: pointer;
        // }
      }
    }

    .toggle-icon {
      // margin: 6px 10px 10px 0px;
      cursor: pointer;
      color: #66cc33;
    }

    .panel-actions {
      display: flex;
      gap: 5px;

      .action-btn {
        background: none;
        border: none;
        cursor: pointer;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .panel-body {
    padding: 10px 0px 10px 30px;
    width: 92%;
  }
}

.action-icon {
  cursor: pointer;
}