<div class="profile-panel-container" cdkDropList (cdkDropListDropped)="dropPanel($event)">
  @for (panel of panelNames; track panel._id) {
  <div class="profile-panel" cdkDrag>
    <div class="panel-header">
      <!-- <span class="material-icons toggle-icon">
        {{ openPanels[panel._id!] ? 'expand_more' : 'chevron_right' }}
      </span> -->
      <span class="toggle-icon" (click)="togglePanel(panel._id!)" style="font-size: 2.1rem;">
        {{ openPanels[panel._id!] ? '▾' : '▸' }}
      </span>

      <div class="panel-header-content">
        <span class="panel-title">{{ panel.panelName }}</span>
        <div class="panel-img-icon" [@slideToggle]="openPanels[panel._id!] ? 'open' : 'closed'">

          <div class="panel-img">
            <img src="pen_on_paper40x.gif" width="23" height="23" title="Edit a Panel" class="action-icon"
              (click)="editPanel(panel._id!)" />
          </div>

          @if (!fixedPanels.includes(panel.panelName) || panel.panelName === 'Name & Contact Details') {
          <div class="panel-img">
            <img src="attachment_link.gif" width="23" height="23" title="Create a Sub-panel" class="action-icon"
              (click)="createSubPanel(panel._id!)" />
          </div>
          }

          @if (!fixedPanels.includes(panel.panelName)) {
          <div class="panel-img">
            <img src="clone question.png" width="23" height="23" title="Clone a Panel" class="action-icon"
              (click)="addField(panel._id!)" />
          </div>
          <div class="panel-img">
            <img src="delete_large.png" width="23" height="23" title="Delete this Panel" class="action-icon"
              (click)="deletePanel(panel._id!)" />
          </div>
          }
        </div>
      </div>
    </div>

    <div class="panel-body" (click)="getContextBlockContent(panel._id!)"
      [@slideToggle]="openPanels[panel._id!] ? 'open' : 'closed'">
      @if (panelContextBlocks) {
      <div class="context-blocks">
        @for (block of panelContextBlocks; track $index) {
        <div class="context-block">
          <!-- Render HTML content -->
          <div class="context-block-content">
            <div class="context-content" [innerHTML]="safeContent[$index]"></div>
            <div class="context-actions">
              <span (click)="openContextBlock()" class="editanddellink">Edit Context Block</span>
              <span (click)="deleteContextBlock(block._id!)" class="editanddellink">Delete Context Block</span>
            </div>
          </div>
          <!-- Show attachments if available -->
          @if (block.attachments) {
          <div class="context-attachments">
            <b>Key Files</b>
            <div class="attachments-preview">
              @for (file of block.attachments; track $index) {
              <div class="attachment-item">
                <!-- @if (file.fileType?.startsWith('image/')) {
                <img [src]="getAttachmentUrl(file.filePath!)" [alt]="file.fileName" class="attachment-image" />
                }

                @else if (file.fileType === 'application/pdf') {
                <embed [src]="getAttachmentUrl(file.filePath!)" type="application/pdf" class="attachment-pdf" />
                }

                @else { -->
                <a [href]="file.filePath" target="_blank" class="attachment-link">
                  {{ file.fileName }}
                </a>
                <!-- } -->
              </div>
              }
            </div>
          </div>
          }
        </div>
        }
      </div>
      }

      @if (panel.fieldId.length > 0) {
      <div class="panel-actions">
        <app-fielddetails [fields]="panel.fieldId"></app-fielddetails>
      </div>
      } @else {
        <!-- @if(!panelContextBlocks){ -->
          <span>(No Fields Added)</span>
        <!-- } -->
      }

      @if (getSubPanelsForPanel(panel._id!).length > 0) {
      @for (subpanel of getSubPanelsForPanel(panel._id!); track subpanel._id) {
      <app-subpanelview [subpanel]="subpanel" [parentPanelId]="subpanel.panelId" (refreshSubpanels)="fetchSubPanels()">
      </app-subpanelview>
      }
      }
    </div>
  </div>
  }
</div>